<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<div class="container text-center">
  <h1>About me</h1>
  <p>Welcome to my site! My name is Igor Dzyuba and I am fond of programming in Python. I decided to finally learn Django and start working in development, and this site is my first pet project on this path<p>
  <p>This site generates a password according to a given condition and was created from a video - https://www.youtube.com/watch?v=AI2IapqNaIM. Recommended for beginners. everything is detailed. Like and subscribe to the channel :)</p>
  <a href="{% url 'home' %}" class="btn btn-warning">Home</a>
</div>